@import url('https://fonts.cdnfonts.com/css/alarm-clock');

*, 
::before, 
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* border: 4px solid pink; debug */
    min-width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'alarm clock', sans-serif;
    display: flex;
    align-items: center; /* center child element vertically */
    justify-content: center; /* center child element horizontally */
    font-size: 1em;
    background: rgb(220,204,222);
    background: -moz-linear-gradient(199deg, rgba(220,204,222,0.5508578431372548) 0%, rgba(242,242,242,0.4500175070028011) 76%);
    background: -webkit-linear-gradient(199deg, rgba(220,204,222,0.5508578431372548) 0%, rgba(242,242,242,0.4500175070028011) 76%);
    background: linear-gradient(199deg, rgba(220,204,222,0.5508578431372548) 0%, rgba(242,242,242,0.4500175070028011) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dcccde",endColorstr="#f2f2f2",GradientType=1);
}
#clock {
    width: 25em;
    height: 12.5em;
    min-width: 6em;
    min-height: 3.125em;
    padding: 1.563em;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* Border */
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 20px solid whitesmoke;
    /* box shadow */
    box-shadow: 2px 7px 11px 2px rgba(109,104,110,0.58);
    -webkit-box-shadow: 2px 7px 11px 2px rgba(109,104,110,0.58);
    -moz-box-shadow: 2px 7px 11px 2px rgba(109,104,110,0.58);
    /* Gradient bg */
    background: rgb(192,192,192);
    background: -moz-radial-gradient(circle, rgba(192,192,192,0.4500175070028011) 41%, rgba(171,145,170,0.5508578431372548) 100%);
    background: -webkit-radial-gradient(circle, rgba(192,192,192,0.4500175070028011) 41%, rgba(171,145,170,0.5508578431372548) 100%);
    background: radial-gradient(circle, rgba(192,192,192,0.4500175070028011) 41%, rgba(171,145,170,0.5508578431372548) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c0c0c0",endColorstr="#ab91aa",GradientType=1);
}
#time{
    display: flex;
    flex-direction: row;
}
#date{
    color: rgba(255, 255, 255, 0.864);
    display: flex;
    justify-content: start;
    /* text-transform: uppercase; */
}

#hours,
#minutes {
    flex-grow: 2;
    font-size: 5.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.864);
}
#separator,
#ampm{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.864);
}
#separator{
    font-size: 5em;
    padding-left: 10px;
}
#ampm{
    font-size: 2em;
}
/* .glass-effect{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
} */



 