@import url('https://fonts.cdnfonts.com/css/alarm-clock');

:root {
    --magenta: rgb(196, 25, 196);
    --deep-purple : rgb(81, 0, 90);
    --greyish-mauve: rgb(196, 182, 196);
    --digital-font: 'alarm clock', sans-serif;
  }

*, 
::before, 
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* border: 4px solid pink; debug */
    min-width: 100vw;
    min-height: 100vh;
    font-size: 1em;
    display: flex;
    align-items: center; /* center child element vertically */
    justify-content: center; /* center child element horizontally */
    background: rgb(220,204,222);
    background: -moz-linear-gradient(199deg, rgba(220,204,222,0.5508578431372548) 0%, rgba(242,242,242,0.4500175070028011) 76%);
    background: -webkit-linear-gradient(199deg, rgba(220,204,222,0.5508578431372548) 0%, rgba(242,242,242,0.4500175070028011) 76%);
    background: linear-gradient(199deg, rgba(220,204,222,0.5508578431372548) 0%, rgba(242,242,242,0.4500175070028011) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dcccde",endColorstr="#f2f2f2",GradientType=1);
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .time-display {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--magenta);
    font-family: var(--digital-font);

  }
  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    /* round button */
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    color: var(--deep-purple);
    border-color: var(--deep-purple);
    background-color: transparent;
    cursor: pointer;
  }

  p{
    padding-top: 100px;
    font-size: 0.5rem;
  }
  a{
    color: var(--deep-purple);
  }
