@import url('https://fonts.cdnfonts.com/css/alarm-clock');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --digital-font: 'alarm clock', sans-serif;
    --alt-font: 'Anuphan', sans-serif;
    --bg-color: #edede9;
    --darker-tone: #d6ccc2;
    --light-tone-muted: #e3d5ca;
    --medium-tone: #d5bdaf;
    --dark: #a19e9c;
  }

*, 
::before, 
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* border: 4px solid pink; debug */
    min-width: 100vw;
    min-height: 100vh;
    font-size: 1em;
    display: flex;
    align-items: center; /* center child element vertically */
    justify-content: center; /* center child element horizontally */
    background-color: var(--bg-color);
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 12px solid var(--darker-tone);
    border-radius: 30px;
    padding: 1.25rem;
    width: 400px;
    background-color: var(--light-tone-muted);
  }

  .time-display {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--bg-color);
    font-family: var(--alt-font);
    font-weight: 600;
    padding-top: 2rem;
  }
  button {
    font-size: 0.8rem;
    padding: 1rem;
    margin: 0.5rem;
    /* round button */
    width: 70px; 
    height: 70px;
    border-radius: 50%;
    color: var(--bg-color);
    border-color: var(--light-tone);
    /* background-color: transparent; */
    background-color: var(--darker-tone);
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: var(--alt-font);
    font-weight: 400;
  }
  button:hover{
   background-color: var(--light-tone);
   /* font-weight: bold; */
  }

  p{
    padding-top: 100px;
    font-size: 0.7rem;
    color: var(--bg-color);
    font-family: var(--alt-font);
    font-weight: 400;
  }
  a{
    color: var(--light-tone);
  }
